{% extends "portfolio/layout.html" %}
{% load static %}

{% block content %}

  <div class="container">
    <div  class="row  p-2 mb-3">
      <div id="aboutMe" class="col-12 p-lg-5 ">
        <h1 class="header text-center text-lg-start my-4">About me</h1>
        <p class="col-12 lh-base text-break my-2" >
          Looking backward in my life, IT has always been my main interest in life, 
          both the hardware and the software side.
        </p>
        <p class="col-12  lh-base text-break my-2"> 
          2015 was the year I deeply realized I am attracted to Computer Science (CS). 
          I bought books and alongside with w3schools website started to learn my path but I didn’t have a good structure to follow.
        </p>
        <p class="col-12  lh-base text-break my-2 "> 
          Until April 2020 a good friend of mine shared a link to a course on the Edx e-learning platform. 
          That course became or it was my very first web developer course, very well structured, 
          full of tasks to accomplish, and everything else I was in need to really get me started.
        </p>
        <p class="col-12  lh-base text-break my-2 ">
          I struggled a lot to overcome the simplest task. 
          I saw myself on an unknown battlefield to conquer and I accepted the challenge.
          The course was not easy and I learned a lot, specially my own personality.
          A year and half later I was able to build this very site in its entirety.
        </p>
        <p class="col-12 lh-base text-break my-2 ">
          Every day I wake up, still can’t believe I can call myself …
        </p>      

        <h4 class="pt-4">Leonard Cogles Bonne </h4>
        <h6 id="carrier" class="fs-6">FullStack Web Developer</h6>
  
      </div>
    </div>
  </div>

{% endblock %}
