{% extends "portfolio/layout.html" %}
{% load static %}

{% block content %}

  <div class="container">
    <div id="aboutMe" class="row  p-2 mb-3">
      <h1 class="text-center text-lg-start my-4">About me</h1>
      <p class="col-12 fs-5 lh-base text-break my-2" >
        Looking backward in my life, computers or more generally IT
        has always been my main interest.
      </p>
      <p class="col-12 fs-5 lh-base text-break my-2"> 
        2015 was the year I deeply realized I was… (let me rephrase that) 
        I am attracted to web or/and software development. 
        I bought books and alongside with w3schools website started to learn my path but I didn’t have a good structure to follow.
      </p>
      <p class="col-12 fs-5 lh-base text-break my-2 "> 
        Until April 2020 a good friend of mine shared a link to a course on the Edx e-learning platform. 
        That course became or it was my very first web developer course, very well structured, 
        full of tasks to accomplish and It was not easy for me.
      </p>
      <p class="col-12 fs-5 lh-base text-break my-2 ">
        I struggled a lot to overcome the simplest task. 
        I saw myself on an unknown battlefield to conquer and I accepted the challenge.
        A year and half later I was able to build this very site in its entirety.
      </p>
      <p class="col-12 fs-5 lh-base text-break my-2 ">
        Every day I wake up, still can’t believe I can call myself …
        Leonard Cogles Bonne | FullStack Web Developer
      </p>      
    </div>
  </div>

{% endblock %}