/******** Fonts Settings **********/
#userName, .header {
  font-family: Montserrat Medium;
  font-size: 25px;
}

p, 
#userDescr, 
#introLine,
#connect_btn,
.email, 
.mobile_number,
footer,
#carrier {
  font-family:Roboto Light;
  font-size: 20px;
}

#aboutMe,
#introLine, 
#userName,
#tmp_text {
  word-spacing: 0.4rem;
  letter-spacing: 0.1rem;
}

#userDescr{
  word-spacing: 0.4rem;
  letter-spacing: 0.06rem;
} 

#userName, 
#contact_descr{
  word-spacing: 0.4rem;
  letter-spacing: 0.05rem;
}

/****** Responsive Design *******/
.avatar{
  border-radius: 50%; 
  object-fit: fill; 
}


#contact_links a {
  font-size: 3rem;
  color: #000;
}

#connect_btn:link, #connect_btn:visited{
  color: #FFFF;

}

#project_list{  
  background-color: #3D6CE5;
  color: #FFFF;
  height: 300px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #userDescr{
    font-size: 22px;
    word-spacing: 0.06rem;
    
  } 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  #userName {
    font-size: 2rem;
  }

  #userDescr{
    font-size: 23px;
    word-spacing: 0.2rem;
  }

  #tmp_text {
    word-spacing: 0.2rem;   
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  #tmp_text {
    word-spacing: 0.1rem;   
  }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  #aboutMe p {
    font-size: 28px;
  }

  .header{
    font-size: 40px;
  }

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }