{% load blog_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %} LCB - Blog Home  {% endblock %}</title>
        
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'blog/css/styles_list.css' %}" rel="stylesheet" />
        <link href="{% static 'blog/css/custom.css' %}" rel="stylesheet" />

    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-lg navbar  ">
                <a class="brand navbar-brand text-light ml-md-5 font-weight-bold" href="{% url 'blog:post_list' %}">LCB_blog</a>
                <a href="javascript:void(0);" class="navbar-toggler border-0 text-light" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <i id="mobileMenu" class="bi bi-list "></i>
                </a>
                <div class="collapse  navbar-collapse justify-content-lg-end" id="navbarTogglerDemo01">
                    <ul class="navbar-nav  align-items-end ">
                        <li class="nav-item ">
                            <a class="fs-5 header nav-link  text-light" aria-current="page" href="{% url 'blog:post_list' %}">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="fs-5 header nav-link  text-light" aria-current="page" href="{% url 'index' %}">Portfolio</a>
                        </li>
                        <li class="nav-item px-lg-2">
                            <a class="fs-5  header nav-link text-light" href="{% url 'aboutme' %}">About me</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header id="header" class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Welcome to my Blog!</h1>
                    <p class="lead my-3">Follow my journey while I build your idea.</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    {% block content %}
                    {% endblock %}

                    {% block script %}
                        <script src="{% static 'blog/js/list.js' %}"></script>
                    {% endblock %}
                </div>

                <!-- Right Column Section-->
                <div class="col-lg-4 ">
                    <!-- Side widget-->
                    <div class=" p-3 pb-lg-0 mb-4 text-center ">
                        <!-- div class="card-header">Side Widget</div -->
                        <a href="https://namecheap.pxf.io/kjPxDz">
                            <img class="img-fluid " src="/static/blog/assets/ads/2021_DP_compromo_ad_300x250.png"   alt="namecheap domain offer">
                        </a>
                        <!-- div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div -->
                    </div>

                    <!-- Search widget -->
                    <div class="card mb-4">
                        <div class="card-header">Search posts</div>
                        <div class="card-body">
                            {% include "blog/post/search.html" with search_form=form %}                                 
                        </div>
                    </div>
                    <div><p>This blog has {% total_posts %} written so far.</p></div>
                    <p> 
                        <a href="{% url 'blog:post_feed' %}"> Subscribe to my RSS feed.</a>
                    </p>
                    <h3>Latest posts</h3>
                    {% show_latest_posts 3 %}
                    <!--
                    <h3>Most commented posts</h3>
                    {% get_most_commented_posts as most_commented_posts %}
                        <ul>
                            {% for post in most_commented_posts %}
                                <li>
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    -->
                    
                    <!-- Categories widget
                    <div class="card my-5">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Web Design</a></li>
                                        <li><a href="#!">HTML</a></li>
                                        <li><a href="#!">Freebies</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">JavaScript</a></li>
                                        <li><a href="#!">CSS</a></li>
                                        <li><a href="#!">Tutorials</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    
                </div>
            </div>
        </div>

 
               
       
        <footer class="py-5 ">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; coglescode.com 2022</p></div>
          </footer>
        
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        
    
        
        
    </body>
</html>