{% extends "blog/layout.html" %}
{% load static %}      

    {% block title %}{{ post.title }}{% endblock %}

    {% block content %}
        <!-- Page content -->
        <div class=" mt-5">
            <div class="row">
                
                <div class="col-lg-12">
                    <!-- Post content -->
                    <article class="p-2">                   
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title -->
                            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                            
                            <!-- Post meta content -->
                            <div class="text-muted fst-italic mb-2">Published {{ post.publish }} </div>
                            <!-- Post categories
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                            -->
                        </header>
                        <!-- Preview image figure -->
                        <figure class="mb-4">
                            {% if post.headimg %}
                                <img class="img-fluid rounded" src="{{ post.headimg.url }}"  alt="..." width="900" height="400" />
                            {% endif %}
                        </figure>
                        <!-- Post content -->
                        <section class="mb-5">
                            <p class=" mb-4">{{ post.body|safe|linebreaks }}</p>                            
                        </section>               
                    </article>

                    <!-- Similar Posts-->
                    <h2>Similar posts </h2>
                    {% for post in similar_posts %}
                        <p>
                            <a href="{{ post.get_absolute_url }}">{{ post.title}}</a>
                        </p>
                    {% empty %}
                        There are no similar posts yet.
                    {% endfor%}

                    <!-- Comments section -->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comments counter -->
                                {% with comments.count as total_comments %}
                                    <h2>{{ total_comments }} comment{{total_comments|pluralize }}</h2>
                                {% endwith %}

                                <!-- Comment form -->
                                {% if new_comment %}
                                    <h2>Your new comment has been added</h2>
                                {% else %}
                                    <form action="" method="post">
                                        {{ comment_form.as_p }}
                                        {% csrf_token %}
                                        <p><input type="submit" value="Add comment"></p>
                                    </form>
                                {% endif %}

                                <!-- Comment with nested comments -->
                                <div class="row d-flex g-2 my-3">
                                    <!-- Retrieve all comments -->                                    
                                    <!-- Parent comment -->
                                    {% for comment in comments %}   
                                        <!--                                    
                                        <div class="col-3 col-xl-1 flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                        -->
                                        <div class=" col-8 col-xl-11 ">                                                                                           
                                            <div class="fw-lighter"><span class="fw-bold">{{ comment.name }}</span> commented on {{ comment.created }}</div>
                                            <div class="p fw-normal">{{ comment.body|linebreaks }}</div> 
                                        </div>
                                    {% empty %}
                                        <p>There are no comments yet </p>
                                    {% endfor %}
                                </div>
                                
                            </div>
                        </div>
                    </section>
                </div>                
            </div>        
        </div>
    {% endblock %}  

    {% block script %}
        <script src="{% static 'blog/js/detail.js' %}"></script>
    {% endblock %}

  

    <!-- Child comment 1
    <div class="d-flex mt-4">
        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
        <div class="ms-3">
            <div class="fw-bold">Commenter Name</div>
            And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
        </div>
    </div>

    Single comment
    <div class="d-flex">
        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
        <div class="ms-3">
            <div class="fw-bold">Commenter Name</div>
            When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
        </div>
    </div>
    -->